@font-face {
    font-family: Parastoo;
    src: url('yekan.eot');
    src: url('yekan.eot?#iefix') format('embedded-opentype'),
         url('yekan.woff') format('woff'),
         url('yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Applying the font to the body */
body {
    /* font-family: 'Parastoo', sans-serif; Fallback to sans-serif if Parastoo is not available */
    background-color: #F0F0F0; /* Light Gray */
    color: #5D3A9B; /* Deep Purple */
}



li {
    list-style: none;
}

/* Right Menu */
.right-menu {
    background-color: #FFCFD2; /* Soft Peach */
    border-radius: 80px 80px 10px 10px;
    padding: 10px;
}

/* Macaron */
.macaron {
    background-color: #E0218A; /* Barbie Pink */
    border-radius: 90px 90px 10px 10px;
    border: #F0F0F0 solid 3px; /* Light Gray */
}



.macaron-item ul {
    margin: 10px;
    padding: 10px;
}

.macaron-item li {
    margin: 5px 0;
    color: #F0F0F0; /* Light Gray */
}
.macaron-image{
    margin-top: 10px;
}
.macaron-image img{
    width: 10%;
    height: 10%;
    margin-right: 5px;
}

/* Coffee Sections */

.mashin-coffe {
    background-color: #FFCFD2; /* Soft Peach */
    border-radius: 80px 80px 10px 10px;
}

.m-coffe {
    padding: 10px 20px 10px 5px;
}

.m-coffe li {
    margin: 5px;
}
.coffee-gif{
    margin-top: 20px;
}
.coffee-gif img{
    width: 8%;
    height: 8%;
    background-color: transparent;
    color: #5D3A9B;
    margin-top: 15px;
    
    
}

.maciatoo {
    border: 3px #5D3A9B solid; /* Deep Purple */
    border-radius: 80px 80px 10px 10px;
    margin-right: 4rem !important;
    margin-left: 2rem !important;
    padding: 10px 30px 10px 5px;
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

/* Important Section */
.imp {
    border: #F0F0F0 3px solid; /* Light Gray */
    border-radius: 80px 80px 10px 10px;
    color: #F0F0F0; /* Light Gray */
    background-color: #E0218A; /* Barbie Pink */
}

/* last part  */

.part-left {
    border-right: solid #5D3A9B 1px; /* Deep Purple */
}

.theredPart {
    background-color: #FFCFD2; /* Soft Peach */
    border-radius: 80px 80px 10px 10px;
}

.coffe-dami {
    border: #5D3A9B solid 3px; /* Deep Purple */
    border-radius: 80px 80px 10px 10px;
    padding: 8px;
}

.cold-brew {
    background-color: #E0218A; /* Barbie Pink */
    border: #5D3A9B solid 3px; /* Deep Purple */
    border-radius: 10px;
}
.tea-header{
    margin-top: 10px;
}

.hot-drink.item li{
    margin-top: 10px;
}

